@media screen and (min-width: 410px) {
  .navbar-toggler-icon2 {
    margin-top: 15.7rem;
  }
}
.otros {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
}
.navLink a:hover {
  color: #606e77;
}
.btnForm a:hover {
  color: white;
}
.botonCoaching:hover,
.botonCartaNatal:hover,
.btnTarjeta1:hover,
.btnTarjeta2:hover,
.btnForm:hover {
  background: #778690;
  /* 2 */

  border: 5px solid #606e77;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
}
.botonCoaching a:hover,
.botonCartaNatal a:hover,
.btnTarjeta1 a:hover,
.btnTarjeta2 a:hover,
.btnForm a:hover {
  color: white;
}
.tituloOtros {
  position: relative;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 42px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
}
.estrellas5 {
  display: none;
}
.contenidoOtros {
  position: relative;
  width: 100%;
  text-align: center;
  height: 839px;
  left: 0%;
  top: 104px;
  background: #ebede6;
}
.tarjetasOtros {
  position: absolute;
  background-color: transparent;
  width: 100%;
}
.tarjeta1 {
  position: relative;
  width: 100%;
  height: 166px;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.btnTarjeta1 {
  position: relative;
  width: 35%;
  height: 39px;
  left: 0%;
  top: 34px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
  background: #606e77;
  max-width: 130px;
}
.btnTarjeta1 a {
  position: initial;
  text-align: center;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.tituloTarjeta1 {
  position: relative;
  width: 100%;
  height: 23px;
  left: 0%;
  top: 15px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ebede6;
}
.tarjeta1 p {
  position: relative;
  width: 100%;
  height: 93px;
  left: 2rem;
  top: 1rem;
  text-align: left;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 39px;
  color: #ebede6;
}
.tarjeta2 {
  position: relative;
  width: 100%;
  height: 135px;
  left: 0;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.btnTarjeta2 {
  position: relative;
  width: 35%;
  height: 39px;
  left: 0%;
  margin: 0 auto;
  top: 160px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
  max-width: 130px;
}
.btnTarjeta2 a {
  position: initial;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
.tituloTarjeta2 {
  position: relative;
  width: 100%;
  height: 23px;
  left: 0%;
  top: 15px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ebede6;
  text-align: center;
}
.tarjeta2 p {
  position: absolute;
  width: 100%;
  height: 59px;
  left: 2rem;
  top: 3rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}
.circulos {
  position: absolute;
  width: 13px;
  height: 90px;
  left: 12px;
  top: 61px;
}
.circulos2 {
  position: absolute;
  width: 13px;
  height: 51px;
  left: 12px;
  top: 59px;
}
/* contactame */
.contactame {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-bottom: 0;
  box-sizing: border-box;
}
.tituloContactame {
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 13px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
}
.cajaEmail {
  position: absolute;
  width: 100%;
  height: 97px;
  left: 15%;
  top: 56px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS {
  position: absolute;
  width: 90%;
  height: 52.9px;
  left: 5%;
  top: 165px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS img {
  position: relative;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 10px;
  margin: 0 1rem;
}
.cajaEmail img {
  position: relative;
  width: 25.31px;
  height: 20%;
  left: 0%;
  top: 7px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.cajaEmail h6 {
  position: relative;
  width: 100%;
  height: 24px;
  left: 0%;
  top: 10px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.cajaEmail p {
  width: 100%;
  height: 18px;
  left: 0;
  top: 0px;
  text-align: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.78);
}
.consultanos {
  position: absolute;
  width: 100%;
  height: 23px;
  left: 0;
  top: 254px;
  display: block;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #778690;
}
.form {
  position: relative;
  width: 100%;
  height: 723px;
  left: 0px;
  top: 271px;
}
.inputName {
  position: relative;
  width: 90%;
  height: 52px;
  left: 0%;
  margin: 0 auto;
  top: 48px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelNombre {
  position: absolute;
  width: 80px;
  height: 24px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  left: 44px;
  top: 2.3rem;
  z-index: 2;
  padding: 0.2rem 1rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputEmail {
  position: relative;
  width: 90%;
  height: 52px;
  left: 0%;
  margin: 0 auto;
  top: 77px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelEmail {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 45px;
  top: 115px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 0.2rem 1rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputText {
  position: relative;
  width: 90%;
  height: 270px;
  left: 0%;
  margin: 0 auto;
  top: 112px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelText {
  position: absolute;
  width: 86px;
  height: 24px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  left: 2.8rem;
  top: 12.8rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.btnForm {
  position: relative;
  width: 27%;
  height: 39px;
  left: 0%;
  max-width: 121px;
  margin: 0 auto;
  top: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #778690;
  border: 2px solid #606e77;
  box-sizing: border-box;
  border-radius: 100px;
}
.btnForm a {
  position: relative;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
form input::placeholder {
  position: absolute;
  width: auto;
  height: 32px;
  top: 12px;
  left: 42px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #778690;
}
form input {
  font-family: Lora;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.3rem;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  height: 844px;
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.navbar-toggler-icon {
  background-image: url("../../img/ilustraciones/menu-mobile.png") !important;
  position: absolute;
  width: 507px;
  height: 0.5rem !important;
  left: 46.7%;
  top: 100px;
  transform: scale(4.5);
  z-index: 0;
}
button.navbar-toggler:focus {
  outline: none;
  z-index: 3;
  box-shadow: none;
  color: transparent;
  opacity: 0;
}
.navbar-toggler-icon2 {
  margin-top: 15.7rem;
  margin-left: 0rem;
  /*   box-shadow: 0px 50px 0px 50px rgba(255, 255, 255, 0.3); */
}
/* INDEX */
.index {
  height: 100%;
  width: 100vh;
  border-radius: 0px;
  position: relative;
  background: white;
  border-top: 0;
}
.nav {
  position: sticky;
  z-index: 1;
  width: auto;
  height: 82px;
  left: 0px;
  top: 0px;
  background: #e7d4b6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
}
.navLink {
  margin: 1rem 0;
  text-align: center;
}
.navLink a {
  position: relative;
  width: auto;
  height: 27px;
  font-family: Cinzel Decorative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  margin: 0px;
  color: #000000;
  text-decoration: none;
}
.navLista {
  position: relative;
  z-index: 0;
  width: 70%;
  min-width: 300px;
  height: auto;
  display: flex;
  list-style-type: none;
  background-color: #e7d4b6;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0;
  padding-top: 44px;
  top: -0.5rem;
  left: 0%;
  margin: 0 auto;
  max-width: 350px;
  border-radius: 0px 0px 45px 45px;
  /*  box-shadow: 0px 50px 50px 80px rgba(255, 255, 255, 0.5); */
}
.brand {
  position: relative;
  width: 50%;
  max-width: 200px;
  height: 76px;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  top: 0;
}
.brand-lg {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 233px;
  left: 0px;
  top: 90px;
  margin: 0 5%;
}
.titulo {
  position: relative;
  width: 100%;
  height: 44px;
  top: 103px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 44px;
  margin: 0 auto;
  color: #778690;
}
.subTitulo {
  position: relative;
  width: 90%;
  height: 78px;
  top: 158px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #b1b9c6;
}
/* sobre mi  */
.sobreMi {
  position: relative;
  width: 100vh;
  height: 100%;
  background: #e7d4b6;
  box-sizing: border-box;
}
.tituloSobreMi {
  position: relative;
  width: 100%;
  height: 32px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  left: 1%;
  top: 33px;
  color: #606e77;
}
.subTituloSobreMi {
  position: relative;
  width: 100%;
  height: 81px;
  left: 1%;
  top: 0px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  padding: 0 5%;
  color: #606e77;
}
.contenidoSobreMi {
  position: relative;
  width: auto;
  height: 89%;
  left: 0px;
  top: 20px;
  background: #e7d4b6;
}
.profilePhoto {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 162px;
  left: 0%;
  top: 30px;
  z-index: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.contenidoSobreMi p {
  position: relative;
  width: 90%;
  max-width: 500px;
  height: 366px;
  left: 0%;
  top: 50px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  margin: 0 auto;
  color: #606e77;
}
.estrellas {
  position: relative;
  width: 25.1px;
  height: 34px;
  left: 32%;
  transform: matrix(1, 0, 0, -1, 0, -1);
  z-index: 1;
  top: 142px;
}
.estrellas2 {
  position: absolute;
  width: 28.1px;
  height: 39px;
  left: 12px;
  top: 685px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
/* carta natal */
.cartaNatal {
  position: relative;
  height: 50%;
  width: 100%;
  background: #e4cdbb;
  position: relative;
  border-radius: 0px;
}
.tituloCartaNatal {
  position: relative;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 14px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
}
.contenidoCartaNatal {
  position: absolute;
  width: 100%;
  height: 252px;
  left: 0%;
  top: 142px;
  background: #e4cdbb;
}
.subTituloCartaNatal {
  position: relative;
  width: 100%;
  height: 27px;
  left: 0%;
  top: -80px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #606e77;
}
.contenidoCartaNatal p {
  position: relative;
  width: 90%;
  height: 108px;
  left: 0%;
  top: -55px;
  margin: 0 auto;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: #606e77;
}
.indian-house {
  position: absolute;
  width: 79px;
  height: 79px;
  left: 2%;
  top: 136px;
}
.estrellas3 {
  position: absolute;
  width: 98px;
  height: 136px;
  left: 469px;
  top: 319px;
}
.botonCartaNatal {
  position: relative;
  width: 30%;
  height: 39px;
  left: 0%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  max-width: 140px;
  border-radius: 500px;
}
.botonCartaNatal a {
  position: relative;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  text-decoration: none;
}
.botonCoaching {
  position: relative;
  width: 30%;
  height: 39px;
  left: 0%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  top: 0px;
  max-width: 140px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
}
.botonCoaching a {
  position: relative;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.coaching {
  position: relative;
  height: 50%;
  width: 100%;
  background: #b1b9c6;
  box-sizing: border-box;
}
.contenidoCoaching {
  position: absolute;
  width: 100%;
  height: 184px;
  left: 0px;
  top: 151px;
  background: #b1b9c6;
}
.tituloCoaching {
  position: relative;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 25px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
  bottom: 1%;
}
.subTituloCoaching {
  position: relative;
  width: 100%;
  height: 27px;
  left: 0%;
  top: -60px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ebede6;
}
.contenidoCoaching p {
  position: relative;
  width: 90%;
  height: 144px;
  left: 5%;
  top: -19px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  color: #ebede6;
}
.estrellas4 {
  position: absolute;
  width: 18px;
  height: 24.98px;
  left: 64px;
  top: -327.98px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.faro {
  position: absolute;
  width: 30%;
  height: 50%;
  left: 68%;
  top: 160px;
}
/* otros */
.otros {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
}
.tituloOtros {
  position: relative;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 42px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
}
.estrellas5 {
  display: none;
}
.contenidoOtros {
  position: relative;
  width: 100%;
  text-align: center;
  height: 839px;
  left: 0%;
  top: 104px;
  background: #ebede6;
}
.tarjetasOtros {
  position: absolute;
  background-color: transparent;
  width: 100%;
}
.tarjeta1 {
  position: relative;
  width: 100%;
  height: 166px;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.btnTarjeta1 {
  position: relative;
  width: 35%;
  height: 39px;
  left: 0%;
  top: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
  background: #606e77;
  max-width: 130px;
}
.btnTarjeta1 a {
  position: initial;
  text-align: center;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
.tituloTarjeta1 {
  position: relative;
  width: 100%;
  height: 23px;
  left: 0%;
  top: 15px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ebede6;
}
.tarjeta1 p {
  position: relative;
  width: 100%;
  height: 93px;
  left: 2rem;
  top: 1rem;
  text-align: left;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 39px;
  color: #ebede6;
}
.tarjeta2 {
  position: relative;
  width: 100%;
  height: 135px;
  left: 0;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border-radius: 15px;
  max-width: 400px;
  margin: 0 auto;
}
.btnTarjeta2 {
  position: relative;
  width: 35%;
  height: 39px;
  left: 0%;
  margin: 0 auto;
  top: 134px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
  max-width: 130px;
}
.btnTarjeta2 a {
  position: initial;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
}
.tituloTarjeta2 {
  position: relative;
  width: 100%;
  height: 23px;
  left: 0%;
  top: 15px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #ebede6;
  text-align: center;
}
.tarjeta2 p {
  position: absolute;
  width: 100%;
  height: 59px;
  left: 2rem;
  top: 3rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}
.circulos {
  position: absolute;
  width: 13px;
  height: 90px;
  left: 12px;
  top: 61px;
}
.circulos2 {
  position: absolute;
  width: 13px;
  height: 51px;
  left: 12px;
  top: 59px;
}
/* contactame */
.contactame {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-bottom: 0;
  box-sizing: border-box;
}
.tituloContactame {
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0%;
  top: 13px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #606e77;
}
.cajaEmail {
  position: absolute;
  width: 90%;
  height: 97px;
  left: 5%;
  top: 56px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS {
  position: absolute;
  width: 90%;
  height: 52.9px;
  left: 5%;
  top: 165px;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS img {
  position: relative;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 10px;
  margin: 0 1rem;
}
.cajaEmail img {
  position: relative;
  width: 25.31px;
  height: 20%;
  left: 0%;
  top: 7px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.cajaEmail h6 {
  position: relative;
  width: 100%;
  height: 24px;
  left: 0%;
  top: 10px;
  text-align: center;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.cajaEmail p {
  width: 100%;
  height: 18px;
  left: 0;
  top: 0px;
  text-align: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.78);
}
.consultanos {
  position: absolute;
  width: 100%;
  height: 23px;
  left: 0;
  top: 254px;
  display: block;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #778690;
}
.form {
  position: relative;
  width: 100%;
  height: 723px;
  left: 0px;
  top: 271px;
}
.inputName {
  position: relative;
  width: 90%;
  height: 52px;
  left: 5%;
  margin: 0 auto;
  top: 48px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelNombre {
  position: absolute;
  width: 80px;
  height: 24px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  left: 44px;
  top: 2.3rem;
  z-index: 2;
  padding: 0.2rem 1rem;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputEmail {
  position: relative;
  width: 90%;
  height: 52px;
  left: 5%;
  margin: 0 auto;
  top: 77px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelEmail {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 45px;
  top: 115px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 0.2rem 1rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputText {
  position: relative;
  width: 90%;
  height: 270px;
  left: 5%;
  margin: 0 auto;
  top: 112px;
  border: 1px solid #a98b73;
  box-sizing: border-box;
  border-radius: 15px;
}
.labelText {
  position: absolute;
  width: 86px;
  height: 24px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  left: 2.8rem;
  top: 12.8rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.btnForm {
  position: relative;
  width: 27%;
  height: 39px;
  display: flex;
  flex-direction: row;
  left: 0%;
  max-width: 121px;
  margin: 0 auto;
  top: 150px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #778690;
  border: 2px solid #606e77;
  box-sizing: border-box;
  border-radius: 100px;
}
.btnForm a {
  position: relative;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}
form input::placeholder, textarea::placeholder {
  position: absolute;
  width: auto;
  height: 32px;
  top: 12px;
  left: 42px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #778690;
}
form input {
  font-family: "Lora";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.3rem 1rem;
}
textarea.inputText {
  font-family: "Lora";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem;
}
