* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 1080px;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

/* INDEX */
.index {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: relative;
  background: white;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.nav {
  position: sticky;
  z-index: 1;
  width: 100%;
  height: 92px;
  left: 0px;
  top: 0px;
  background: #e7d4b6;
}
.navLink a {
  position: relative;
  width: auto;
  height: 27px;
  font-family: Cinzel Decorative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
}
.navLista {
  position: relative;
  width: 952px;
  height: 17px;
  left: 35%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
}
.brand {
  position: absolute;
  width: 106px;
  height: 82px;
  left: 57px;
  top: 0px;
}
.brand-lg {
  position: relative;
  width: 1003px;
  height: 669px;
  text-align: center;
  margin: 72px 10%;
}
.titulo {
  position: absolute;
  width: 99%;
  height: 128px;
  text-align: center;
  top: 696px;
  margin: 72px 0;

  font-family: Cinzel;
  font-style: normal;
  font-weight: normal;
  font-size: 95px;
  line-height: 128px;
  color: #778690;
}
.subTitulo {
  position: absolute;
  width: 99%;
  height: 38px;

  top: 864px;
  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  color: #b1b9c6;
  text-align: center;
  margin: 72px 0;
}
/* sobre mi  */
.sobreMi {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.tituloSobreMi {
  position: absolute;
  width: 797px;
  height: 141px;
  left: 561px;
  top: 22px;
  font-family: Cinzel;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 135px;
  color: #606e77;
}
.subTituloSobreMi {
  position: absolute;
  width: 1247px;
  height: 43px;
  left: 336px;
  top: 5px;
  font-family: Cinzel;
  font-style: bold;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #606e77;
}
.contenidoSobreMi {
  position: absolute;
  width: 100%;
  height: 929px;
  left: 0px;
  top: 151px;
  background: #e7d4b6;
}
.profilePhoto {
  position: absolute;
  width: 1113px;
  height: 402px;
  left: 403px;
  top: 69px;
  border-radius: 15px;
}
.contenidoSobreMi p {
  position: absolute;
  width: 1113px;
  height: 355px;
  left: 397px;
  top: 521px;
  font-family: Lora;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  text-align: justify;
  color: #606e77;
}
.estrellas {
  z-index: 0;
  position: relative;
  width: 98px;
  height: 136px;
  left: 115px;
  top: 787px;
}
.estrellas2 {
  position: absolute;
  width: 98px;
  height: 136px;
  left: 1733px;
  top: -89px;
}
/* carta natal */
.cartaNatal {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 0px;
}
.tituloCartaNatal {
  position: absolute;
  width: 487px;
  height: 94px;
  left: 717px;
  top: 29px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #e7d4b6;
  text-align: center;
}
.contenidoCartaNatal {
  position: absolute;
  width: 100%;
  height: 852px;
  left: 0px;
  top: 142px;
  background: #e4cdbb;
}
.subTituloCartaNatal {
  position: relative;
  width: auto;
  height: 43px;
  top: 28.03px;
  font-family: Cinzel;
  font-style: bold;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #606e77;
}
.contenidoCartaNatal p {
  position: absolute;
  width: 1150px;
  height: 158px;
  left: 385px;
  top: 123px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: justify;
  color: #606e77;
}
.indian-house {
  position: absolute;
  width: 447px;
  height: 447px;
  left: 31px;
  top: 455px;
}
.estrellas3 {
  position: absolute;
  width: 98px;
  height: 136px;
  left: 469px;
  top: 319px;
}
.botonCoaching {
  position: absolute;
  width: 524px;
  height: 145px;
  left: 698px;
  top: 642px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
}
.botonCoaching a {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.coaching {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.contenidoCoaching {
  position: absolute;
  width: 100%;
  height: 852px;
  left: 0px;
  top: 151px;
  background: #b1b9c6;
}
.tituloCoaching {
  position: absolute;
  width: 888px;
  height: 94px;
  left: 516px;
  top: 36px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  text-align: center;
  color: #e7d4b6;
}
.subTituloCoaching {
  position: absolute;
  width: 657px;
  height: 47px;
  left: 631px;
  top: 25.56px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  text-align: justify;
  color: #ebede6;
}
.contenidoCoaching p {
  position: absolute;
  width: 1150px;
  height: 213px;
  left: 385px;
  top: 121px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  text-align: justify;
  color: #ebede6;
}
.estrellas4 {
  position: absolute;
  width: 98px;
  height: 136px;
  left: 107px;
  top: 22px;
}
.faro {
  position: absolute;
  width: 711px;
  height: 811px;
  left: 1200px;
  top: 125px;
}
.botonCartaNatal {
  position: absolute;
  width: 524px;
  height: 145px;
  left: 698px;
  top: 642px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
}
.botonCartaNatal a {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
/* otros */
.otros {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.tituloOtros {
  position: absolute;
  width: 340px;
  height: 94px;
  left: 779px;
  top: 11px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #e7d4b6;
}
.estrellas5 {
  position: absolute;
  width: 98px;
  height: 136px;
  left: 107px;
  top: 20px;
}
.contenidoOtros {
  position: absolute;
  width: 1920px;
  height: 839px;
  left: 0px;
  top: 104px;
  background: #ebede6;
}
.tarjetasOtros {
  position: absolute;
  background-color: yellowgreen;
}
.tarjeta1 {
  position: absolute;
  width: 553px;
  height: 331px;
  left: 336px;
  top: 210px;
  background: #606e77;
  border-radius: 15px;
}
.btnTarjeta1 {
  position: absolute;
  width: 368.02px;
  height: 101.38px;
  left: 428px;
  top: 561px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
}
.btnTarjeta1 a {
  position: absolute;
  width: 226px;
  height: 47px;
  left: 73px;
  top: 27px;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}
.tituloTarjeta1 {
  position: absolute;
  width: 100%;
  height: 45px;
  align-items: center;
  top: 17px;
  left: 169px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #ebede6;
}
.tarjeta1 p {
  position: absolute;
  width: 480.52px;
  height: 175px;
  left: 62px;
  top: 120px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #ebede6;
}
.tarjeta2 {
  position: absolute;
  width: 553px;
  height: 331px;
  left: 1030px;
  top: 210px;
  background: #606e77;
  border-radius: 15px;
}
.btnTarjeta2 {
  position: absolute;
  width: 368.02px;
  height: 101.38px;
  left: 1122px;
  top: 561px;
  background: #606e77;
  border: 5px solid #606e77;
  box-sizing: border-box;
  border-radius: 500px;
}
.btnTarjeta2 a {
  position: absolute;
  width: 226px;
  height: 47px;
  left: 73px;
  top: 27px;
  text-decoration: none;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}
.tituloTarjeta2 {
  position: absolute;
  width: 263px;
  height: 45px;
  left: 145px;
  top: 17px;
  text-align: center;
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  color: #ebede6;
}
.tarjeta2 p {
  position: absolute;
  width: 373px;
  height: 194px;
  left: 62px;
  top: 103px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #ffffff;
}
.circulos {
  position: absolute;
  width: 23.1px;
  height: 150px;
  left: 27px;
  top: 135px;
}
.circulos2 {
  position: absolute;
  width: 20px;
  height: 85px;
  left: 24px;
  top: 118px;
}
/* contactame */
.contactame {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.tituloContactame {
  position: absolute;
  width: 474px;
  height: 94px;
  left: 705px;
  top: 99px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  color: #606e77;
}
.cajaEmail {
  position: absolute;
  width: 451px;
  height: 246px;
  left: 257px;
  top: 294px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS {
  position: absolute;
  width: 451px;
  height: 147px;
  left: 257px;
  top: 553px;
  background: #e4cdbb;
  border-radius: 20px;
}
.cajaRRSS img {
  width: 70px;
  margin: 2.3rem;
}
.cajaEmail img {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 195px;
  top: 19px;
}
.cajaEmail h6 {
  position: absolute;
  width: 91px;
  height: 40px;
  left: 180px;
  top: 93px;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
}
.cajaEmail p {
  position: absolute;
  width: 367px;
  height: 26px;
  left: 42px;
  top: 163px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.78);
}
.consultanos {
  display: none;
}
.form {
  position: absolute;
  width: 627px;
  height: 723px;
  left: 876px;
  top: 261px;
}
.inputName {
  position: relative;
  width: 627px;
  height: 80px;
  border: 2px solid #a98b73;
  box-sizing: border-box;
  border-radius: 20px;
}
.labelNombre {
  position: relative;
  width: 139px;
  height: 34px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  left: 3rem;
  top: 1.4rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputEmail {
  position: relative;
  width: 627px;
  height: 80px;
  top: 9px;
  border: 2px solid #a98b73;
  box-sizing: border-box;
  border-radius: 20px;
}
.labelEmail {
  position: relative;
  width: 139px;
  height: 34px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  left: 3rem;
  top: 1.9rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.inputText {
  position: relative;
  width: 627px;
  height: 335px;
  top: 18px;
  border: 2px solid #a98b73;
  box-sizing: border-box;
  border-radius: 20px;
}
.labelText {
  position: relative;
  width: 139px;
  height: 34px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  left: 3rem;
  top: 2.5rem;
  z-index: 2;
  padding: 0.3rem;
  text-align: center;
  display: block;
  align-items: center;
  color: rgba(255, 255, 255, 0.84);
  background: #e4cdbb;
  border-radius: 5px;
}
.btnForm {
  position: relative;
  width: 288px;
  height: 80px;
  top: 51px;
  background: #778690;
  border: 2px solid #606e77;
  box-sizing: border-box;
  border-radius: 100px;
}
.btnForm a {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-decoration: none;
  color: #ffffff;
}
form input::placeholder {
  position: absolute;
  width: auto;
  height: 32px;
  top: 29px;
  left: 42px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #778690;
}
form input {
  font-family: Lora;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0.3rem;
}

/* mobile */

@media screen and (min-width: 320px) and (max-width: 425px) {
  * {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    height: 844px;
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    padding: 0;
    margin: 0;
  }
  .navbar-toggler-icon {
    margin-top: 5.2rem;
    margin-left: 7.5rem;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #e7d4b6;
    z-index: 0;
  }
  button.navbar-toggler:focus {
    outline: none;
    z-index: 0;
    box-shadow: none;
    color:transparent;
  }

  /* INDEX */
  .index {
    height: 100%;
    width: 100vh;
    border-radius: 0px;
    position: relative;
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .nav {
    position: sticky;
    z-index: 1;
    width: auto;
    height: 92px;
    left: 0px;
    top: 0px;
    background: #e7d4b6;
  }
  .navLink a {
    position: relative;
    width: auto;
    height: 27px;
    font-family: Cinzel Decorative;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
  }
  .navLista {
    position: relative;
    width: auto;
    height: 17px;
    left: 5%;
    display: flex;
    list-style-type: none;
    flex-direction: column;
  }
  .brand {
    position: absolute;
    width: 106px;
    height: 82px;
    left: 71px;
    top: 0px;
  }
  .brand-lg {
    position: absolute;
    width: 349px;
    height: 233px;
    left: 0px;
    top: 90px;
    margin: 0 5%;
  }
  .titulo {
    position: absolute;
    width: 349px;
    height: 44px;
    left: 21px;
    top: 323px;
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 44px;
    margin: 0;
    color: #778690;
  }
  .subTitulo {
    position: absolute;
    width: 347px;
    height: 78px;
    left: 22px;
    top: 438px;
    margin: 0;
    font-family: "Lora";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    /* gris */

    color: #b1b9c6;
  }
  /* sobre mi  */
  .sobreMi {
    position: relative;
    width: 100vh;
    height: 100vh;
    background: #e7d4b6;

    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .tituloSobreMi {
    position: relative;
    width: 184px;
    height: 32px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    /* 2 */
    left: 103px;
    top: 22;
    color: #606e77;
  }
  .subTituloSobreMi {
    position: relative;
    width: 355px;
    height: 81px;
    left: 18px;
    top: -120px;
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #606e77;
  }
  .contenidoSobreMi {
    position: absolute;
    width: auto;
    height: 89%;
    left: 0px;
    top: 48px;
    background: #e7d4b6;
  }
  .profilePhoto {
    position: absolute;
    width: 100%;
    height: 162px;
    left: 4%;
    top: 133px;
  }
  .contenidoSobreMi p {
    position: absolute;
    width: 348px;
    height: 366px;
    left: 23px;
    top: 324px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    /* 2 */

    color: #606e77;
  }
  .estrellas {
    position: relative;
    width: 25.1px;
    height: 34px;
    left: 355px;

    transform: matrix(1.5, 0, 0, -1, 0, -1);
    z-index: 0;
    height: 136px;
    left: 155px;
    top: 89px;
  }
  .estrellas2 {
    position: absolute;
    width: 28.1px;
    height: 39px;
    left: 12px;
    top: 685px;

    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  /* carta natal */
  .cartaNatal {
    height: 50%;
    width: 390px;
    background: #e4cdbb;
    border: 1px solid #000000;

    position: relative;
    border-radius: 0px;
  }
  .tituloCartaNatal {
    position: absolute;
    width: 166px;
    height: 32px;
    left: 117px;
    top: 14px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    /* 2 */

    color: #606e77;
  }
  .contenidoCartaNatal {
    position: absolute;
    width: 100%;
    height: 252px;
    left: 0px;
    top: 142px;
    background: #e4cdbb;
  }
  .subTituloCartaNatal {
    position: absolute;
    width: 252px;
    height: 27px;
    left: 69px;
    top: -80px;
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    text-align: justify;

    /* 2 */

    color: #606e77;
  }
  .contenidoCartaNatal p {
    position: absolute;
    width: 348px;
    height: 108px;
    left: 21px;
    top: -35px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;

    /* 2 */

    color: #606e77;
  }
  .indian-house {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 0px;
    top: 136px;
  }
  .estrellas3 {
    position: absolute;
    width: 98px;
    height: 136px;
    left: 469px;
    top: 319px;
  }
  .botonCartaNatal {
    position: absolute;
    width: 141px;
    height: 39px;
    left: 125px;
    top: 176px;
  }
  .botonCartaNatal a {
    position: absolute;
    left: 19.27%;
    right: 16.19%;
    top: 19%;
    bottom: 24.39%;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #ffffff;
  }
  .botonCoaching {
    position: absolute;
    width: 141px;
    height: 39px;
    left: 125px;
    top: 200px;
  }
  .botonCoaching a {
    position: absolute;
    left: 19.27%;
    right: 16.19%;
    top: 17%;
    bottom: 24.39%;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #ffffff;
  }
  .coaching {
    position: relative;
    height: 50%;
    width: 390px;

    background: #b1b9c6;

    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .contenidoCoaching {
    position: absolute;
    width: 100%;
    height: 184px;
    left: 0px;
    top: 151px;
    background: #b1b9c6;
  }
  .tituloCoaching {
    position: absolute;
    width: 305px;
    height: 32px;
    left: 43px;
    top: 25px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    /* 2 */
    color: #606e77;
  }
  .subTituloCoaching {
    position: absolute;
    width: 376px;
    height: 27px;
    left: 7px;
    top: -69px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    text-align: justify;

    /* verde */

    color: #ebede6;
  }
  .contenidoCoaching p {
    position: absolute;
    width: 348px;
    height: 144px;
    left: 21px;
    top: -19px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;

    /* verde */

    color: #ebede6;
  }
  .estrellas4 {
    position: absolute;
    width: 18px;
    height: 24.98px;
    left: 64px;
    top: -327.98px;

    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .faro {
    position: absolute;
    width: 154px;
    height: 130px;
    left: 235px;
    top: 122px;
  }
  /* otros */
  .otros {
    position: relative;
    height: 100%;
    width: 390px;

    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .tituloOtros {
    position: absolute;
    width: 117px;
    height: 32px;
    left: 137px;
    top: 12px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    /* 2 */

    color: #606e77;
  }
  .estrellas5 {
    display: none;
    position: absolute;
    width: 98px;
    height: 136px;
    left: 107px;
    top: 20px;
  }
  .contenidoOtros {
    position: absolute;
    width: 390px;

    height: 839px;
    left: 0px;
    top: 104px;
    background: #ebede6;
  }
  .tarjetasOtros {
    position: absolute;
    background-color: yellowgreen;
    width: 390px;
  }
  .tarjeta1 {
    position: absolute;
    width: 348px;
    height: 166px;
    left: 21px;
    top: 56px;
  }
  .btnTarjeta1 {
    position: absolute;
    width: 141px;
    height: 39px;
    left: 125px;
    top: 234px;
  }
  .btnTarjeta1 a {
    position: absolute;
    left: 19.27%;
    right: 16.19%;
    top: 17%;
    bottom: 24.39%;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #ffffff;
  }
  .tituloTarjeta1 {
    position: absolute;
    width: 96px;
    height: 23px;
    left: 126px;
    top: 15px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #ebede6;
  }
  .tarjeta1 p {
    position: absolute;
    width: 292px;
    height: 93px;
    left: 31px;
    top: 48px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 39px;

    /* verde */

    color: #ebede6;
  }
  .tarjeta2 {
    position: absolute;
    width: 348px;
    height: 135px;
    left: 21px;
    top: 323px;
  }
  .btnTarjeta2 {
    position: absolute;
    width: 141px;
    height: 39px;
    left: 125px;
    top: 471px;
  }
  .btnTarjeta2 a {
    position: absolute;
    left: 19.27%;
    right: 16.19%;
    top: 17%;
    bottom: 24.39%;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #ffffff;
  }
  .tituloTarjeta2 {
    position: absolute;
    width: 115px;
    height: 23px;
    left: 117px;
    top: 15px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #ebede6;
  }
  .tarjeta2 p {
    position: absolute;
    width: 311px;
    height: 59px;
    left: 31px;
    top: 48px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;

    color: #ffffff;
  }
  .circulos {
    position: absolute;
    width: 13px;
    height: 90px;
    left: 12px;
    top: 61px;
  }
  .circulos2 {
    position: absolute;
    width: 13px;
    height: 51px;
    left: 12px;
    top: 59px;
  }
  /* contactame */
  .contactame {
    position: relative;
    height: auto;
    width: 390px;

    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .tituloContactame {
    position: absolute;
    width: 164px;
    height: 32px;
    left: 114px;
    top: 13px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    /* 2 */

    color: #606e77;
  }
  .cajaEmail {
    position: absolute;
    width: 348px;
    height: 97px;
    left: 21px;
    top: 56px;
    border-radius: 20px;
  }
  .cajaRRSS {
    position: absolute;
    width: 348px;
    height: 52.9px;
    left: 21px;
    top: 165px;
    text-align: center;
    border-radius: 20px;
  }
  .cajaRRSS img {
    position: relative;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 10px;
    margin: 0 1rem;
  }
  .cajaEmail img {
    position: absolute;
    width: 25.31px;
    height: 24px;
    left: 161px;
    top: 7px;
  }
  .cajaEmail h6 {
    position: absolute;
    width: 55px;
    height: 24px;
    left: 147px;
    top: 35px;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;
  }
  .cajaEmail p {
    width: 257px;
    height: 18px;
    left: 46px;
    top: 60px;

    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.78);
  }
  .consultanos {
    position: absolute;
    width: 214px;
    height: 23px;
    left: 88px;
    top: 254px;
    display: block;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    /* LETRA */

    color: #778690;
  }
  .form {
    position: absolute;
    width: 390px;
    height: 723px;
    left: 0px;
    top: 271px;
  }
  .inputName {
    position: relative;
    width: 351px;
    height: 52px;
    left: 18px;
    top: 48px;
    border: 1px solid #a98b73;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .labelNombre {
    position: absolute;
    width: 80px;
    height: 24px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    left: 44px;
    top: 2.3rem;
    z-index: 2;
    padding: 0.2rem 1rem;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.84);
  }
  .inputEmail {
    position: absolute;
    width: 351px;
    height: 52px;
    left: 18px;
    top: 127px;

    border: 1px solid #a98b73;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .labelEmail {
    position: absolute;
    width: 66px;
    height: 24px;
    left: 45px;
    top: 115px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    padding: 0.2rem 1rem;

    color: rgba(255, 255, 255, 0.84);
    /* naranja */

    background: #e4cdbb;
    border-radius: 5px;
  }
  .inputText {
    position: absolute;
    width: 351px;
    height: 270px;
    left: 19px;
    top: 212px;
    border: 1px solid #a98b73;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .labelText {
    position: absolute;
    width: 86px;
    height: 24px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    left: 3rem;
    top: 12.5rem;
    z-index: 2;
    padding: 0.3rem;
    text-align: center;
    display: block;
    align-items: center;
    color: rgba(255, 255, 255, 0.84);
    background: #e4cdbb;
    border-radius: 5px;
  }
  .btnForm {
    position: absolute;
    width: 94px;
    height: 39px;
    left: 148px;
    top: 510px;
  }
  .btnForm a {
    position: absolute;
    left: 19.27%;
    right: 20.09%;
    top: 26.9%;
    bottom: 24.39%;

    font-family: "Cinzel";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: justify;

    color: #ffffff;
  }
  form input::placeholder {
    position: absolute;
    width: auto;
    height: 32px;
    top: 12px;
    left: 42px;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #778690;
  }
  form input {
    font-family: Lora;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.3rem;
  }
}
